@charset "utf-8";
/* CSS Document */
/* SE ACUALIZO 17/05/2018 */
/* pagina */
.relative { position: relative; left: 80%;}
address{text-align: center; margin: 0 !important}
td, tbody td {background:white !important}
table,th td {background:white !important; background-color:white !important; border: 0px solid white !important; }  
h2{text-align: center; font-size:1.15em  !important; width: auto}
.cl9{font-size: 0.79em !important}
.cl10{font-size: 0.89em !important}
.resaltar{background-color:#FF0;}

.entry-content table, .entry-content th, .entry-content td {
    border: 0px solid #ccc; !important;
    padding: 0.5%; !important;
}

/* fin */
body {
    margin: 0 0 5px;
    min-width: 320px;
    background: #e2e2e2;
    background-color: #FFF;
    color: #003;
    font-family: "Gill Sans","Gill Sans MT","Trebuchet MS","Segoe UI","sans-serif","Arial";
}
table {border: 0px solid #FFF}
strong { font-size: 0.85em;}
.classh1 {height:36px;padding:0px;color: #FFF;font-size:26px;margin:10px;text-align: center;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}
/*h2 a {background-color:#069;color: #FFF !important;height:36px;padding:8px;color: #FFF;font-size:26px;margin:10px;text-align: center;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}*/
.classh2 {height:20px;padding: 5px;color: #FFF;font-size:16px;margin:10px;text-align: center;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}
.classp {margin:0 0 1px 0;padding: 1em;text-align:justify; color: #FFF;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}
p {font-size: 18px}
p.francesa { text-indent: -15px; padding-left: 25px;border:0px #fff }
table.width200,table.rwd_auto {border:1px solid #39c;width:100%;margin:0 0 5px 0}
.width200 th,.rwd_auto th {border:1px solid #39c;background:#FFF;padding:5px;text-align:center;}
.width200 th,.rwd_auto th:first-of-type{width: 65%} 
.width200 td,.rwd_auto td {border:1px solid #39c;padding:5px;text-align:justify}
.width200 td,.rwd_auto td:nth-of-type(2) {border:1px solid #39c;padding:5px;text-align:left}

/*
.width200 tr:last-child td, .rwd_auto tr:last-child td{border:0}
.rwd {width:100%;overflow:auto;}
.rwd table.rwd_auto {width:auto;min-width:100%}
.rwd_auto th,.rwd_auto td { white-space: nowrap;}
*/
@media only screen and (max-width: 800px), (min-width: 320px) and (max-width: 1024px)  
{
    .classh1 {height:20px;padding:14px;color: #FFF;font-size:12px;margin:14px;text-align: center;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}
    table.width200, .width200 thead, .width200 tbody, .width200 th, .width200 td, .width200 tr { display: block; }
    .width200 thead tr { position: absolute;top: -9999px;left: -9999px; }
    .width200 tr { border: 1px solid #39c; }
    .width200 td { border: none;border-bottom: 1px solid #39c; position: relative; padding-left: 20%; text-align:left }
    .width200 td:before {  position: absolute; top: 6px; left: 6px; width: 80%; padding-right: 10px; white-space: nowrap;}
    .width200 td:nth-of-type(1):before { content: "FRACCIÓN"; }
    .width200 td:nth-of-type(2):before { content: "FORMATOS"; }
    .descarto {display:none;}
    .fontsize {font-size:10px}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) 
{
   .descarto {display:none;} 
   .classh1{height:20px;padding:4px;color: #FFF;font-size:12px;margin:5px;text-align: center;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}
    .accordion {width: auto}
   .classp{display: none;} 
   .fontsize {font-size:10px}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 968px) and (max-width: 1024px) 
{
    .descarto {display:none;}
    .classh1{height:20;padding:4px;color: #FFF;font-size:12px;margin:2px;text-align: center;-moz-box-shadow: 1px 1px 2px #000000;-webkit-box-shadow: 1px 1px 2px #000000; box-shadow: 1px 1px 2px #000000;}
    .classp{display: none;} 
    .fontsize {font-size:10px}
}
.otono0{ background-color:#693; }
.otono1{ background-color:#c93; }
.otono2{ background-color:#c60; }
.invierno0{ background-color:#069; }
.invierno1{ background-color:#039; }
.invierno2{ background-color:#39c; }
.bosque0{ background-color:#066; }
.bosque1{ background-color:#096; }
.bosque2{ background-color:#3db1b1; }
.lavanda0{ background-color:#669; }
.lavanda1{ background-color:#643db1; }
.lavanda2{ background-color:#039; }

* {
		padding:0;margin:0;border:none;list-style-type:none;box-sizing: border-box;
}
.header {
    border: 1px solid #39c;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    border: 1px solid #fff;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 2.5px;
    border: 0px solid #FFF;
}
.caja1{
    border: 0px solid #FFF;
}
.col-0 {width: 5.33% }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;} /* 75% */
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-12- {width: 1023px;}
.col-13 {width: 94.66%;}


ul li p{
text-align:justify;
}
ul {padding-left: 0px !important;
    padding-bottom: 0px !important;
    text-align:justify;
}


.accordion {
    padding:0px 30px 0 0;
    margin:0;
    font: 12px ;
    border:1px solid #fff;
    border-radius:5px;
}
.accordion .acc-content {
    height: 0;
    overflow: hidden;
}
.accordion li:target .acc-content {
    width:100%;
    height: auto;
    padding:5px 15px;
    border-bottom:1px solid #39c;
}
.accordion .acc-header .clase-a {
    display:block;
    padding:8px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #666;
    text-shadow: 1px 1px 1px #ddd;
    font-weight:bold;
    border-bottom:1px solid #39c;
    background:#eee;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
    background:-moz-linear-gradient(#fff, #fff);
    background:-o-linear-gradient(#fff, #fff);
    background:-ms-linear-gradient(#fff, #fff);
    background:linear-gradient(#fff, #fff);
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}
.accordion .acc-header a:hover {
    text-decoration:none;
    border-bottom:1px solid #39c;
    background:#39c;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
    background:-moz-linear-gradient(#fff, #fff);
    background:-o-linear-gradient(#fff, #fff);
    background:-ms-linear-gradient(#fff, #fff);
    background:linear-gradient(#fff, #fff);
    padding-left:15px;
}
a.francesa { text-indent: -15px; padding-left: 35px;border:0px #fff }
.clabus{ 
    width: 450px;
    border-style: ridge; 
    border-color: #0000ff; 
    box-shadow: 10px 10px 2px #888888; 
}
a.posts2 {
    color: #333;
    text-decoration: none;
    font-weight: 700;
}
#Navegar{display: none}
#columnas{
   column-count:3;
   column-gap:20px;
   column-rule:4px outset  #fff;
   text-align:center;
   
   -webkit-column-count:3;
   -webkit-column-gap:20px;
   -webkit-column-rule:4px outset  #fff;

   -moz-column-count:3;
   -moz-column-gap:20px;
   -moz-column-rule:4px outset  #fff;

   -o-column-count:3;
   -o-column-gap:20px;
   -o-column-rule:4px outset  #fff;

   -ms-column-count:3;
   -ms-column-gap:20px;
   -ms-column-rule:4px outset #fff;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url('https://colaboracion.uv.mx/rept/files/tr/images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /*grid-template-rows: 40px auto;*/
  grid-gap: 1px;
  background-color: #2196F3;
  padding: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

/*.grid-container > div {*/
/*  background-color: rgba(255, 255, 255, 0.8);*/
/*  text-align: justify;*/
/*  padding: 14px 0;*/
/*  font-size: 12px;*/
/*}*/

.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0 solid rgba(0, 0, 0, 0.8);
  padding: 14px;
  text-align: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0 solid rgba(0, 0, 0, 0.8);
  padding: 14px;
  text-align: justify;
}


